
<div class="glass">
  <mat-card>
    <h2>Password Reset</h2>
    <br/>
    <p>Please enter in a new password.</p>
    <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label for="password">Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label for="passwordConfirm">Confirm Password</mat-label>
          <input matInput type="password" formControlName="passwordConfirm" placeholder="Password"
            [ngClass]="{ 'is-invalid': submitted && f.passwordConfirm.errors }">
          <div *ngIf="submitted && f.passwordConfirm.errors" class="invalid-feedback">
            <div *ngIf="f.passwordConfirm.errors.required">Confirmed Password is required</div>
          </div>
        </mat-form-field>
      </div>
    </form>

    <div id="cancelBtn" class="material-icons" (click)="cancel()">
      cancel
    </div>

      <div class="form-group button-group-center">
        <button (click)="changePassword()" mat-raised-button color="primary">
          Save Password
        </button>
      </div>
  </mat-card>
</div>
